body {
  background: peachpuff;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80vh;
  align-items: flex-start;
  margin: 0;
}
*{
  border: 1px solid black;
}
.a{
  width: 100%;
  height: 33%
}
.b, .c, .d ,.e, .f,.g{
  width:25%;
  height: 33%;
}
.h{
  width: 23%;
  height: 66%;
  align-self: flex-end;
}

@media(min-width:600px){
.a{
  height:10%
}
.b, .c, .d ,.e, .f,.g{
  width:33%;
  height: 30%;
}
.h{
  height: 30%;
  width: 100%;
}

}