
body {
  background: blanchedalmond;
}

.container{
  height: 60vh;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  
}
.a{
  width: 100%;

  
}
.b{
  width:79%;
 
}
.c{
  width: 20%;
  
}

*{
  border: 1px solid black;
}

@media(max-width:600px) {
  .container{
   background-color: aqua;
   flex-direction: column;
   justify-content: space-between;
  }
  .a, .b, .c{
   height: 31%;
   width: 100%;
  }
} 