body {
  background: papayawhip;
}

.container{
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000000;
  justify-content: flex-start;
  align-content: flex-start;
}
.a{
width: 100%;
height: 39%
}
.b{
width: 78%;
height: 30%;
}

.f{
  width: 20%;
  height: 60%;
}
.c{
width: 26%;
height: 30%;
}
.d{
  width: 26%;
  height: 30%;
}
.e{
width: 26%;
height: 30%;
}


.container > .a, .b, .c, .d, .e, .f{
  border: 1px solid black;
}

@media(min-width: 600px){
  .f{
    width: 100%;
    height: 20%;
  }
  .c, .d, .e{
    width: 33%;
    height: 20%
  }
  .b{
    width: 100%;
    height: 40%;
  }
  .a{
    height: 20%;
  }
}